{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Sign
Out" %}{% endblock head_title %} {% block content %}
<section class="vh-100 login-section">
  <div class="mask d-flex align-items-center h-60">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card signup-form">
            <div class="card-body p-5">
              <h2 class="signin-h2 text-center mb-5">{% trans "Sign Out" %}</h2>

              <p class="text-center text-muted mt-5 mb-5">
                {% trans 'Are you sure you want to sign out?' %}
              </p>

              <form
                class="signin-form"
                method="post"
                action="{% url 'account_logout' %}">
                {% csrf_token %} {% if redirect_field_value %}
                <input
                  type="hidden"
                  name="{{ redirect_field_name }}"
                  value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-form btn-block btn-lg text-light w-100">
                    {% trans 'Sign Out' %}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
