{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<section class="vh-100 login-section">
  <div class="mask d-flex align-items-center h-60">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card signup-form">
            <div class="card-body p-5">
              <h2 class="signin-h2 text-center mb-5">{% trans "Create an account" %}</h2>

              <form class="signup signin-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-form btn-block btn-lg text-light w-100">{% trans "Register" %}</button>
                </div>

                <div class="text-center text-muted mt-5 mb-0">{% blocktrans %}Have already an account? <a href="{{ login_url }}" class="fw-bold text-body"><u>Login here</u></a>{% endblocktrans %}</div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
