{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}


<div class="hero" style="background-image: url('static/images/hero-img-blog.jpg')">
  <div class="overlay">
    <div class="container">
      <div class="row align-items-center justify-text-start">
        <div class="hero-div">
          <div class="fade-in-up hero-text-div">
            <h2 class="my-5 px-5 hero-h2">Hi and welcome to</h2>
            <h3 class="mb-5 px-5 hero-h3">The Poster Blog</h3>
            <div class="mx-auto">
              <div class="container">
                <div class="text">
                  <p class="p-5 hero-p">Welcome to a world where art and daily life converge! I'm Izzy, a poster artist on a mission to blend creativity with everyday moments. This blog is our shared space, where I unveil the essence of my art and share offer tips and tricks to sprinkle a little magic into your day-to-day.

                  Whether you’re here to find inspiration for your walls or to pick up a new hobby, you’re in the right place. Let's transform the ordinary into something extraordinary together.
                  
                  Dive into the art of living creatively, one post at a time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ARROW INDICATE SCROLLING DOWN -->
      <div><i class="fa-solid fa-angle-down hero-arrow text-light d-flex "></i></div>
    </div>
  </div>
</div>
<section class="background-color">
  <div class="container latest-post-div">
    <div>
      <div class="p-5">
        <h2 class="text-light text-center latest-post-h2"><a href="{% url 'starting_page' %}">Latest Post</a></h2>
        {% if latest_post %}
        <div class="post-background latest-post-link mb-5">
          <h2 class="latest-post-p">{{ latest_post.title }}</h2>
          <p>{{ latest_post_content | safe }}</p>
          <a class="d-flex justify-content-center" href="{% url 'blog:blog' %}">Read the full blogpost and more here!</a>
        </div>
        {% else %}
        <p class="mb-5">No posts available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}