/* -------------------*/
/* Google fonts import*/
/* -------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;700&family=Work+Sans:wght@100;300;500&display=swap");

/*
 
-1-TYPOGRAPHY SYSTEM 

--Font sizes (px) 
6/ 8/ 10 / 12/ 14 / 16 / 18 / 20 / 24 / 26 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--Font weights:
Default: 400
Medium:: 500
Bold: 700

--Line heights: 
Default: 1
1.6

--SPACING SYSTEM (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -- Based on Omnifood Project, link in README -- */
html {
  font-size: 50%;
  overflow-x: hidden;
}

/* -----------------------*/
/* --- General styles --- */
/* -----------------------*/

/* -- Based on Omnifood Project, link in README -- */

body {
  font-family: "Lato", Inter, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #313638;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 1.6rem;
}

/* -- titles,subtitles -- */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

h3 {
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 120rem;
}

.background-color {
  background-color: #c1666b;
}

.background-color-footer {
  background-color: #a25058;
}

.background-posts {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}

.btn-font {
  font-size: 1.6rem;
}

/* -----------------------*/
/* --- BASE.HTML --- */
/* -----------------------*/

.logo h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.btn-nav {
  color: white;
  background-color: rgba(193, 102, 107, 0.7);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.burger-icon {
  font-size: 3rem;
  cursor: pointer;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link:hover {
  color: #fedd97;
}

.nav-link:active,
.nav-link:visited {
  font-size: 2rem;
}

.nav-item {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.cat-dropdown {
  color: #a25058;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.cat-dropdown:hover {
  color: #fedd97;
}

.cat-dropdown:active,
.cat-dropdown:visited {
  font-size: 2rem;
}

/* Footer section */
.footer-logo {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.email {
  font-size: 1.6rem;
  color: #fedd97;
  letter-spacing: 1.1px;
  margin: 0.5rem 0;

}

.contact-h2 {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  margin: 0 0 0.5rem;
}

/* -----------------------*/
/* --- INDEX.HTML --- */
/* -----------------------*/
.hero {
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 80%
  );
  opacity: 0.8;
}

.hero-div {
  margin-top: 6rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
}

.hero-text-div {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1rem;
}

.hero-arrow {
  font-size: 3rem;
  justify-content: center;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.hero-h2 {
  color: rgba(193, 102, 107, 1);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.hero-h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: end;
  color: rgba(193, 102, 107, 1);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.hero-p {
  font-size: 2rem;
  letter-spacing: 1px;
  color: rgba(193, 102, 107, 1);
  font-weight: 300;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.post-background {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 2rem;
  opacity: 0.9;
  box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}

/* -- Latest posts -- */
.latest-post-h2 {
  font-size: 4.4rem;
  letter-spacing: 2px;
  margin: 3rem 1rem;
}

.latest-post-link a {
  color: rgba(129, 64, 70);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 3px;
  background-color: rgba(129, 64, 70, 0.3);
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.latest-post-link a:hover {
  color: #fedd97;
  background-color: rgba(129, 64, 70, 0.5);
}

/* -----------------------*/
/* --- BLOG.HTML --- */
/* -----------------------*/

.background-color-blog {
  background-color: #fedd97;
}

.blog-h2 {
  font-size: 4.4rem;
  margin: 4rem 0 2rem 0;
  color: rgba(193, 102, 107);
}

.text-color-blog {
  color: rgba(193, 102, 107);
}

/* -- Blog posts list -- */
.blog-post-cont {
  margin: 1.4rem 3rem;
  border-radius: 3px;
}

.date {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

.heading-div {
  margin: 0 0 3rem;
}

.likes-comments {
  font-size: 1rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.cat-style a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  color: #999;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.post-content {
  font-size: 1.6rem;
}

.category-like {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.like-btn {
  cursor: pointer;
  padding-right: 1rem;
}

.heart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-comments {
  color: white;
  background-color: rgba(193, 102, 107, 0.7);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-comments:hover {
  color: #fedd97;
  background-color: rgba(193, 102, 107, 0.8);
}

/* -- Page btns & numbers -- */

.pagination-lg .page-link {
  background-color: #a25058;
  border: none;
  color: #fff;
  transition: background-color 0.2s;
}

/* Active page item */
.pagination-lg .page-item.active .page-link {
  background-color: rgba(193, 102, 107, 1);
  border-color: rgba(193, 102, 107, 1);
}

/* Page item on hover */
.pagination-lg .page-item .page-link:hover {
  background-color: rgba(193, 102, 107, 0.8);
  border-color: rgba(193, 102, 107, 0.8);
}

/* 'Previous' and 'Next' buttons */
.pagination-lg .page-item .page-link[aria-label="Previous"],
.pagination-lg .page-item .page-link[aria-label="Next"] {
  background-color: #fff;
  color: #c1666b;
}

/* -----------------------*/
/* --- SIGNIN.HTML --- */
/* -----------------------*/
.login-section {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 80%
  );
  min-height: 100vh;
}

.signin-form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 3rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.signin-h2 {
  text-transform: uppercase;
  color: rgba(129, 64, 70);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

/* ----TRY MKAE IT WORK ------
.input-field {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.input-field::placeholder {
  color: #313638;
  opacity: 1;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(193, 102, 107, 0.5);
}    ---- */

.btn-form {
  background-color: rgba(162, 80, 88, 0.9);
  color: white;
  padding: 2rem;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-form:hover {
  background-color: rgba(171, 97, 104, 0.8);
  font-size: 1.4rem;
}

/* -----------------------*/
/* --- SIGNUP.HTML --- */
/* -----------------------*/
.signup-form {
  border-radius: 1.5px;
}

/* -----------------------*/
/* --- SIGNOUT.HTML --- */
/* -----------------------*/
.signup-form {
  border-radius: 1.5px;
  margin-top: 3rem;
}

/* -----------------------*/
/* --- MEDIA QUERIES--- */
/* -----------------------*/
@media (min-width: 34rem) {
  .hero-context {
    margin-top: 5rem;
  }

  .hero-div {
    margin-top: 12rem;
  }

  .hero-arrow {
    margin-top: 3rem;
  }
}

@media (min-width: 44rem) {
  html {
    font-size: 56.25%;
  }

  .hero-arrow {
    margin-top: 1rem;
  }

  .latest-post-div {
    min-height: 45rem;
  }

  .post-background {
    padding: 3rem;
  }

  .latest-post-p {
    margin-bottom: 3rem;
  }

  .hero {
    height: 80vh;
  }

  .hero-arrow {
    margin-top: 5rem;
  }

  /* -- Blogpage -- */
  .blog-post-cont {
    padding: 1.5rem;
  }

  .post-title {
    padding-top: 2rem;
  }

  .icons {
    font-size: 1.6rem;
  }

  .like-btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 59rem) {
  html {
    font-size: 62.5%;
  }

  .hero-div {
    margin: 9rem auto;
    max-width: 90rem;
  }

  .container {
    max-width: 200rem;
  }
}

@media (min-width: 75rem) {
  .hero-text-div {
    padding: 2rem;
    margin: 3rem;
  }
}
