{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- META TAGS FOR SEARCH ENGINES -->
    <meta
      name="description"
      content="Explore creativity and inspiration at The Creative Blog, your go-to destination for artistic expression. Immerse yourself in a world of imagination, where art meets storytelling and innovation knows no bounds." />
    <meta
      name="keywords"
      content="art, creativity, artist blog, inspiration, imagination, storytelling, innovation, visual   arts, painting, drawing, sculpture, mixed media" />

    <meta name="author" content="Annika Börgesson" />
    <title>{% block title %}The Poster Blog{% endblock %}</title>

    <!--Link to bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!--Css -->
    {% block css_files %}{% endblock %}
  </head>
  <body>
    <!-- HEADER -->
    <header class="background-color text-light" id="header">
      <div class="container ">
        <div class="row align-items-center py-5">
          <div class="">
            <nav class="navbar navbar-expand-md ">
              <a class="navbar-brand text-light logo" href="{% url 'starting_page' %}"> 
                <h1 data-testid="brand-name" class="mb-0">The poster blog</h1>
              </a>
              <div class="d-flex justify-content-end">
                <button type="button" 
                  data-bs-toggle="collapse"
                  class="navbar-toggler burger-icon text-white"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><i class="fa-solid  fa-bars"></i></span>
                </button>
              </div>
              <div  class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'starting_page' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="
                    {% url 'blog:blog' %}">Blog</a>
                  </li>
                  <li class="nav-item dropdown">
                    <button 
                    class="btn btn-nav dropdown-toggle" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                      Categories
                    </button>
                    
                    <ul class="dropdown-menu">
                      {% for category in categories %}
                      <li>
                        <a class="dropdown-item"
                        href="{% url 'blog:category_posts' category.slug %}">{{ category.name }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                          href="{% url 'account_logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                          href="{% url 'account_signup' %}">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                          href="{% url 'account_login' %}">Login</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- displaying Django messages -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible
            fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close"
              data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <main>
      {% if user.is_authenticated %}
      <p class="text-end background-color text-light m-0 p-2">Welcome back {{ user }}</p>
      {% else %}
      <p class="text-end m-2">You are not logged in</p>
      {% endif %} {% block content %} {% endblock %}
    </main>
    <footer class="sticky-bottom background-color-footer text-light">
      <div class="container pt-4">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 d-flex justify-content-center">
            <h3 class="footer-logo">The poster blog</h3>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 social-links-div">
            <div class="mb-4 footer-icons">
              <a
                target="_blank" href="https://www.facebook.com/" title="Facebook"
                class="btn text-light fs-3 m-1"
                role="button"
                rel="noopener"
                aria-label="link to facebook"
                ><i class="fab fa-facebook-f"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/" title="Instagram"
                class="btn text-light fs-3 m-1"
                role="button"
                rel="noopener"
                aria-label="link to instagram"
                ><i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 row d-flex justify-content-center">
            <h3 class="footer-h3">For collaborations or work, please email me:</h3>
            <p class="email">posterblog@blog.com</p>
          </div>
        </div>
        <div class="d-flex justify-content-center pt-2">
          <p>copyright &copf; 2024 by Annika Börgesson</p>
        </div>
      </div>
    </footer>
    <!-- BOOTSTRAP SCRIPT-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <!-- FONTAWESOME SCRIPT -->
    <script
      src="https://kit.fontawesome.com/c7b8c33d12.js"
      crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
